.cv{
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "head head" 
        "main side";
    grid-template-columns: 2fr 1fr;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
.cv-head{
    display: grid;
    grid-area: head;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "intro img";
}
.cv-head-left{
    grid-area: intro;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.cv-title > h2{
    font-size: 2rem;
    letter-spacing: -0.3px;
}
.cv-head-right{
    grid-area: img;
    padding: 2rem;
}
.cv-img-container{
    border-radius: 50%;
    overflow: hidden;
    height: 250px;
    width: 250px;
    margin: auto;
}
.profile-pic{
    width: 250px;
}

.cv-main-left{
    grid-area: main;
    padding: 2rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cv-contacts > p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.cv-contacts a{
    text-decoration: none;
    color: var(--rich-black);
}
.cv-contacts a:hover{
    text-decoration: underline;
}
.cv-work-xp{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cv-date{
    display: inline-block;
    margin-bottom: 10px;
    font-style: italic;
}
.work-xp-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 5px 0;
}
.work-xp-skills > span{
    padding: 3px 8px;
    border-radius: 15px;
    opacity: 0.8;
    background-color: var(--main-dark);
    color: var(--pure-white);
    font-size: 0.8rem;
}
.cv-main-right{
    grid-area: side;
    padding: 2rem;
    padding-top: 0;
}
.cv-skills{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cv-list{
    list-style: none;
}

@media screen and (max-width: 768px){
    .cv{
        max-width: 650px;
        grid-template-areas: 
        "head"
        "main" 
        "side";
        grid-template-columns: 3fr;
    }
    .cv-head{
        grid-template-areas: 
            "img"
            "intro";
        grid-template-columns: 3fr;
    }
    .cv-main-right{
        padding-top: 2rem;
    }
    .cv-skills{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 2rem;
    }
    .cv-skills > h3{
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .cv{
        max-width: 400px;  
    }
    .cv-img-container{
        width: 200px;
        height: 200px;
    }
    .profile-pic{
        width: 200px;
    }
    .cv-skills{
        gap: 1rem;
    }
}